div.friend-item {
    width: 300px;
    margin-right: 2px;
    margin-bottom: 2px;
    float: left;
    cursor: pointer;
    padding: 10px
}
div.friend-item:hover {
    background: #f1f1f1
}
div.friend-item.active {
    background: #e5e5e5
}
div.clear {
    clear: both
}
div.buttons {
    margin-bottom: 20px
}
div.friend-item span {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle
}
img.gPlusButton {
    width: 150px;
    cursor: pointer
}